<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.gobunov.buku</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>4F1C0BB7-A612-41E0-8960-1A6B41E403B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6AC77507-7FB2-4CA6-92B1-1821C19E9381</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6AC77507-7FB2-4CA6-92B1-1821C19E9381</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28AC112C-0243-4FED-814F-521472E8E59E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stanislav Gobunov &lt;stas@gobunov.com&gt;</string>
	<key>description</key>
	<string>buku alfred workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>buku</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>11</integer>
				<key>hotmod</key>
				<integer>393216</integer>
				<key>hotstring</key>
				<string>B</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4F1C0BB7-A612-41E0-8960-1A6B41E403B4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>buku added {query}</string>
				<key>title</key>
				<string>buku</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>28AC112C-0243-4FED-814F-521472E8E59E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/bash

# pbpaste | /usr/local/bin/buku --nc --np -a
/usr/local/bin/buku --nc --np -a {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6AC77507-7FB2-4CA6-92B1-1821C19E9381</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>28AC112C-0243-4FED-814F-521472E8E59E</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>4F1C0BB7-A612-41E0-8960-1A6B41E403B4</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>6AC77507-7FB2-4CA6-92B1-1821C19E9381</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://gobunov.com</string>
</dict>
</plist>
